<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>
        {% block title %}
            blog index
        {% endblock %}
    </title>
</head>
<body>
    <!--  Подключение меню  -->
    {% include 'navbar.html' %}

    <!--В это место подключаются остальные html страницы-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-md-2">
                {% block content %}
                    There is no any content for you
                {% endblock %}
                {% if is_paginated %}
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item {% if not prev_url %}disabled{% endif %}">
                            <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Назад</a>
                        </li>

                        {% for number_page in page_object.paginator.page_range %}
                            {% if page_object.number == number_page %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{number_page }}">{{ number_page }}
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            {% elif number_page > page_object.number|add:-3 and number_page < page_object.number|add:3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ number_page }}">{{ number_page }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}

                        <li class="page-item {% if not next_url %} disabled {% endif %}">
                            <a class="page-link" href="{{ next_url }}">Далее</a>
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
    {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="admin-panel align-items-center">
        <a class="btn btn-secondary" href="/admin">Admin</a>
        {% block admin-panel %}{% endblock %}
        </div>
    {% endif %}


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>