{% extends 'base.html' %}
<!--Наш base_blog расширяет совсем базовый шаблон base.html-->

{% block admin-panel %}
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Создать
        </button>
        <div class="dropdown-menu">
            <a class="btn btn-outline-success" href="{% url 'post_create_url' %}">Пост</a>
            <a class="btn btn-outline-success" href="{% url 'tag_create_url' %}">Тэг</a>
        </div>
    </div>

    <a href="{{ admin_object.get_update_url }}" class="btn btn-outline-dark edit"
       style="{% if detail %}display: block;{% endif %}">Edit</a>
    <a href="{{ admin_object.get_delete_url }}" class="btn btn-outline-danger delete"
       style="{% if detail %}display: block;{% endif %}">Удалить</a>

{% endblock %}