{% extends 'blog/base_blog.html' %}

{% block title %}
    Posts list
{% endblock %}

{% block content %}
    <h1 class="mb-5"> Posts: </h1>
    <h3> как так можно было сделать</h3>

    {% for post in page_object.object_list %}
        {% include 'blog/includes/post_card_template.html' %}
    {% endfor %}
{% endblock %}