{% extends 'blog/base_blog.html' %}

{% block title %}
    Update post {{ post.title|title }} - {{ block.super }}
{% endblock %}


{% block content %}
        <form action="{{ post.get_update_url }}" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" name="button" class="btn btn-primary">Обновить</button>
        </form>

{% endblock %}