{% extends "blog/base_blog.html" %}

{% block title %}
    Delete tag {{ tag.title|title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{{ tag.get_delete_url }}" method="post">
        {% csrf_token %}
        <h3> Вы уверены, что хотите удалить этот <b>"{{ tag.title|title }}"</b> тэг?</h3>
        <a class="btn btn-success" href="{{ tag.get_absolute_url }}">Назад</a>
        <button type="submit" name="button" class="btn btn-danger">Удалить</button>
    </form>
{% endblock %}