{% extends 'blog/base_blog.html' %}

{% block title %}
<!-- block.super расширяет block title забирая данные с главной странице -->
    Tags list - {{ block.super }} <!--Tags list - blog index -->
{% endblock %}

{% block content %}
    <h1 class="mb-5">Tags:</h1>

    {% for tag in tags %}
        <h3>
            <a href="{{ tag.get_absolute_url }}"> {{ tag.title }}</a>
        </h3>
    {% endfor %}

{% endblock %}